#header-container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    border-bottom: 1px solid black;
}

.time {
    color: #6687b1;
}