.message-container {
    border: 0.5px gray solid;
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.message-container  > div {
    flex: 50%; 
    margin-bottom: 10px;
}

.message-content {
    font-size: 15px;
    color: gray;
}

.message-sender {
    font-size: 25px;
}
.btn {
    border: none;
    border-radius: 5px;
    background-color: #6687b1;
    color: white;
    padding: 7px;
}
.left {
    text-align: left;
}

.delete-btn {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px;
    background-color: #bd2727;
}

.right {
    text-align: right;
}