.message-container {
    border: 0.5px gray solid;
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.message-container  > div {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    margin-bottom: 10px;
}

.message-content {
    font-size: 15px;
    color: gray;
}

.message-sender {
    font-size: 25px;
}
.btn {
    border: none;
    border-radius: 5px;
    background-color: #6687b1;
    color: white;
}
.left {
    text-align: left;
}


.right {
    text-align: right;
}